.primary-btn {
	font-size: 16px;
	color: #ffffff;
	background: #e32879;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px 10px;
}

.site-btn {
	font-size: 16px;
	color: #ffffff;
	font-weight: 700;
	padding: 10px 34px;
	display: inline-block;
	background: #e32879;
	border: 1px solid #e32879;
}
